## Postgres
POSTGRES_HOST=pgsqldb  # Match service name in docker-compose.yml
POSTGRES_PORT=5432
POSTGRES_DATABASE=bdjuno  # Dont change this
PGDATA=/var/lib/postgresql/data
POSTGRES_USERNAME=YOUR_USER
POSTGRES_PASSWORD=YOUR_PASSWORD

GRAPHQL_URL=http://hasura:8080/v1/graphql
GRAPHQL_WS=ws://hasura:8080/v1/graphql
NODE_ENV=development
PORT=3000
RPC_WEBSOCKET=http://nucleus:26657/websocket
NEXT_PUBLIC_CHAIN_TYPE=mainnet
PROJECT_NAME=web-nucleus
