[submodule "big-dipper-2.0-cosmos"]
	path = big-dipper-2.0-cosmos
	url = https://github.com/smk762/big-dipper-2.0-cosmos
	branch = nucleus
[submodule "callisto"]
	path = callisto
	url = https://github.com/smk762/callisto
	branch = cosmos/v0.46.x
[submodule "nucleus"]
	path = nucleus
	url = https://github.com/komodoplatform/nucleus
	branch = add-dockerfile
